.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    background: rgba(144, 238, 144, 0.554);
    color: teal;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 350px;
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin: 20px 0;
      input {
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
         border: none;
      }

      button {
        padding: 10px;
        background: rgba(0, 128, 128, 0.566);
        color: White;
        cursor: pointer;
        border-radius: 10px;
        font-size: 18px;
        border: none;
        
      }
      span{
        color: tomato;
      }
    }
    a {
      text-decoration: underline;
    }
  }
}
